/*Make body stretch.*/
body {
    min-height: 100vh;
    background-color: #f2f2f2;
}

/*Customization for navbar logo.*/
.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

/*General navbar customization*/
.navbar {
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 10%;
    width: 100%;
    overflow: hidden;
}

/**The primary container for the profile. (TODO: Look into updating)*/
#primary-container {
    width: 250%;
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    padding-bottom: 5%;
}

/*Make the navbar font large.*/
.navbar-nav {
    font-size: large;
}

/*Make an element always be 100% of its height. (Static)*/
.vertical-center {
    min-height: 100%;
}

/* Settings for Profile */
@media all and (max-width: 1000px) {
    #settings-gear {
        display: none;
    }
}

#nav-buttons {
    cursor: pointer;
}

/*Text which appears above all options.*/
#option-text {
    font-size: 0.85rem;
    color: gray;
    opacity: 0.65;
    font-weight: bold;
}

/*For HTML elements which need a cursor.*/
.pointer-cursor {
    cursor: pointer;
}
    /*Which these buttons are hovered over they have the default color of btn-primary. We want to make the color more distinct.*/
    .pointer-cursor:hover {
        background-color: rgb(62 90 241 / 0.70);
    }
/*Don't allow certain child elements to trigger a click.*/
.block-pointer {
    pointer-events: none;
}