/*Make body stretch.*/
body {
    min-height: 100vh;
    background-color: #f2f2f2;
}

/*Set a limit to how small the navbar can get. (TODO: Update to be more flexible)*/
header {
    min-width: 55rem;
}

/*Customization for navbar logo.*/
.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

/*General navbar customization*/
.navbar {
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 10%;
}

/**The primary container for the profile. (TODO: Look into updating)*/
#primary-container {
    min-width: 20rem;
    width: 45rem;
    max-width: 45rem;
    height: 35rem;
    background-color: white;
}

/*Do not allow the nav to shrink/grow past a certain point no matter the media width.*/
@media only screen and (pointer:none), (pointer:coarse) and (max-device-width: 768px) and (orientation: portrait) {
    #profile-nav {
        min-width: 40%;
        max-width: 60%;
    }
}

/*Make the navbar font large.*/
.navbar-nav {
    font-size: large;
}

/*Make an element always be 100% of its height. (Static)*/
.vertical-center {
    min-height: 100%;
}

/* Settings for Profile */
@media all and (max-width: 1000px) {
    #settings-gear {
        display: none;
    }
}

#nav-buttons {
    cursor: pointer;
}

/*Text which appears above all options.*/
#option-text {
    font-size: 0.85rem;
    color: gray;
    opacity: 0.65;
    font-weight: bold;
}

/*For HTML elements which need a cursor.*/
.pointer-cursor {
    cursor: pointer;
}
    /*Which these buttons are hovered over they have the default color of btn-primary. We want to make the color more distinct.*/
    .pointer-cursor:hover {
        background-color: rgb(62 90 241 / 0.70);
    }