/*Since we are not using a footer we can expand outer to be 100vh.*/
#outer {
    width: 100%;
    height: calc(100vh);
    display: flex;
}

#collapse {
    cursor: pointer;
}

#collapse-no-js {
    cursor: pointer;
    display: none;
}

/*For spacing buttons apart on a small screen.*/
#spacer {
    display: none;
}

#information {
    max-width: 50%;
}

#inner {
    padding: 0;
}
/*Small screen adjustments.*/
@media (max-width: 767px) {
    #icon2 {
        display: none;
    }

    #information {
        max-width: 100%;
    }

    #buttons {
        float: left;
    }

    #spacer {
        display: unset;
    }

    .btn-primary {
        margin-bottom: 5%;
    }

    .jumbotron {
        padding-bottom: 15%;
    }
}