/* Makes all elements invisible on startup.
   This is required to prevent flickering of webpage
    while jQuery configures styling.
    All elements can be loaded and turned visible by the
    load() function in global.js.
*/


#outer {
    width: 100%;
    height: calc(100vh - 3.55rem);
    display: flex;
}

#inner {
    margin: auto;
}


.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
}

.footer {
    font-family: 'Trebuchet MS';
    bottom: 0;
    height: 3.5rem;
    position: fixed;
    background-color: #f2f2f2;
}
/* Horizontally Center a banner max width of 50%
   This div should go above other content.
*/
#center-banner {
    position: relative;
    max-width: 50%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

/* Make alerts always appear on top. */
.alert {
    z-index: 5;
}

/* For drop down menus */
.drop-down {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 38px, 0px);
}
/** If mobile then we scale. */
@media only screen and (pointer:none), (pointer:coarse) and (max-device-width: 768px) {
    #center-banner {
        position: relative;
        max-width: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
}

#bad-browser {
    display: none;
}