body {
    margin: 0;
    background-position: center center;
    background: #CE6CE9;
    background: -webkit-linear-gradient(bottom right, #CE6CE9, #F8AF5A);
    background: -moz-linear-gradient(bottom right, #CE6CE9, #F8AF5A);
    background: linear-gradient(to top left, #CE6CE9, #F8AF5A);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.round-right {
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}

@media (max-width: 767px) {
    .round-right {
        border-bottom-left-radius: 15%;
        border-top-left-radius: 15%;
        border-bottom-right-radius: 15%;
        border-top-right-radius: 15%;
    }
    #inner {
        min-width: 80%;
    }
}

/** Allow mobile devices to round corners. */
@media only screen and (pointer:none), (pointer:coarse) and (max-device-width: 768px) and (orientation: portrait) {
    .round-right {
        border-bottom-left-radius: 15%;
        border-top-left-radius: 15%;
        border-bottom-right-radius: 15%;
        border-top-right-radius: 15%;
    }

    .parent-container {
        position: absolute; /* or absolute */
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        /* bring your own prefixes */
        transform: translate(calc(-50% + 30px), -50%);
    }
}

.round-left {
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
}

.round {
    border-radius: 15%;
}

/** If the phone is in landscape mode we must adjust and tell them not to use landscape on mobile.*/
@media only screen and (pointer:none), (pointer:coarse) and (max-device-width: 768px) and (orientation: landscape) {
    #outer {
        visibility: hidden;
        overflow: hidden;
    }
    #inner {
        overflow: hidden;
    }
    /*Show the bad browser message*/
    #bad-browser {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}