body {
    background-color: white;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

.navbar {
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    padding-left: 10%;
}

.navbar-nav {
    font-size: large;
}