body {
    background-color: white;
}
.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

.navbar {
    padding-top: 0.35%;
    padding-bottom: 0.35%;
    padding-left: 15%;
}

.navbar-nav {
    font-size: large;
    font-weight: 700;
}
.footer {
    position: absolute;
    bottom: 0;
    border-top-width: 5px;
    border-top-style: solid;
    height: 60px;
    border-top-color: #FFF;
    background-color: lightgray;
}