@model Goliath.Models.ProfileSettingsGeneralModel
@{
    var user = await _repository.GetUserByName(User.Identity.Name);
}
<p id="option-text">CHANGE PASSWORD</p>
<div class="ht-tm-element input-group mb-3">
    <div class="input-group-prepend ">
        <button class="btn btn-outline-primary" type="button">
            <i class="fas fa-unlock"></i>
        </button>
    </div>
    <input asp-for="CurrentPassword" value="" placeholder="Enter Current Password." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />

</div>
<div class="ht-tm-element input-group mb-3">
    <div class="input-group-prepend ">
        <button class="btn btn-outline-primary" type="button">
            <i class="fas fa-lock"></i>
        </button>
    </div>

    <input asp-for="NewPassword" placeholder="Enter New Password." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />

</div>