@model Goliath.Models.ProfileSettingsGeneralModel
@{
    var user = await _repository.GetUserFromContext(User);
}
<div class="col-8">
    <p id="option-text">
        CHANGE PASSWORD
        <i class="fas fa-question-circle item-info hvr-grow"
           tabindex="0" role="button" data-toggle="popover"
           data-trigger="focus"
           title="Update Password"
           data-content="Update the password for your account.">
        </i>
    </p>
</div>

<div class="col-12">
    <p class="text-muted font-italic">Your last password change was: @user.LastPasswordUpdate</p>
</div>
<div class="col-8">

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend ">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-unlock fa-fw"></i>
            </button>
        </div>
        <input asp-for="CurrentPassword" value="" placeholder="Enter Current Password." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>
    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend ">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-lock fa-fw"></i>
            </button>
        </div>

        <input id="password-setting" asp-for="NewPassword" placeholder="Enter New Password." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>
    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend ">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-lock fa-fw"></i>
            </button>
        </div>

        <input asp-for="ConfirmNewPassword" placeholder="Confirm New Password." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>
</div>