@model Goliath.Models.ProfileSettingsGeneralModel
@{
    var user = await _repository.GetUserByName(User.Identity.Name);
}
<p id="option-text">
    BACKGROUND COLOR
    <i class="fas fa-question-circle item-info hvr-grow"
       tabindex="0" role="button" data-toggle="popover"
       data-trigger="focus"
       title="Background Color"
       data-content="Adjust the background color theme. This option does not work over dark themes.">
    </i>
</p>

<div class="ht-tm-element input-group mb-3">
    <div class="input-group-prepend ">
        <button class="btn btn-outline-primary" type="button">
            <i class="fas fa-tint"></i>
        </button>
    </div>
    <input id="bg-color-setting" asp-for="BackgroundColor" value="@user.BackgroundColor" placeholder="Enter HEX Value" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    <button type="button" class="btn btn-outline-primary ml-2" data-toggle="tooltip" data-placement="right" title="Click to open a color selection menu.">Select</button>
</div>