@model Goliath.Models.ProfileSettingsGeneralModel
@{
    var user = await _repository.GetUserFromContext(User);
}

<p id="option-text">
    CHANGE PHONE NUMBER
    <i class="fas fa-question-circle item-info hvr-grow"
       tabindex="0" role="button" data-toggle="popover"
       data-trigger="focus"
       title="Update Phone Number"
       data-content="Update the phone number for your account. Your phone number can be used to retrieve lost account details and is required for two-factor Authentication.">
    </i>
</p>
<div class="ht-tm-element input-group mb-3">
    <div class="input-group-prepend ">
        <button class="btn btn-outline-primary" type="button">
            <i class="fas fa-mobile-alt fa-fw"></i>
        </button>
    </div>
    @if (await _repository.HasPhoneNumber(user))
    {
        <input asp-for="CurrentPhoneNumber" value="@user.PhoneNumber" placeholder="" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" readonly />

    }
    else
    {
        <input asp-for="CurrentPhoneNumber" value="None Specified" placeholder="" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" readonly />
    }
</div>
<div class="ht-tm-element input-group mb-3">
    <div class="input-group-prepend ">
        <button class="btn btn-outline-primary" type="button">
            <i class="fas fa-mobile-alt fa-fw"></i>
        </button>
    </div>

    <input id="phone-setting" asp-for="NewPhoneNumber" placeholder="Enter New Phone." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
</div>
@if (await _repository.HasConfirmedPhoneNumber(user))
{
    <span class="badge badge-success">Phone Number Confirmed</span>
}
else
{
    if (await _repository.HasPhoneNumber(user))
    {
        <span class="badge badge-danger">Phone Number Not Confirmed</span>
        <a href="#!">Click to confirm your phone number.</a>
    }

}