@model Goliath.Models.ProfileSettingsGeneralModel
@{
    var user = await _repository.GetUserFromContext(User);
}
<p id="option-text">
    CHANGE EMAIL
    <i class="fas fa-question-circle item-info hvr-grow"
       tabindex="0" role="button" data-toggle="popover"
       data-trigger="focus"
       title="Update Email"
       data-content="Update the email for your account. This will require a reverification.">
    </i>
</p>
<div class="ht-tm-element input-group mb-3">
    <div class="input-group-prepend ">
        <button class="btn btn-outline-primary" type="button">
            <i class="fas fa-envelope fa-fw"></i>
        </button>
    </div>
    <input asp-for="CurrentEmail" value="@user.Email" placeholder="" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" readonly />
</div>
<div class="ht-tm-element input-group mb-3">
    <div class="input-group-prepend ">
        <button class="btn btn-outline-primary" type="button">
            <i class="fas fa-envelope fa-fw"></i>
        </button>
    </div>

    <input id="email-setting" asp-for="NewEmail" placeholder="Enter New Email." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
</div>
@if (user.EmailConfirmed && string.IsNullOrWhiteSpace(user.UnverifiedNewEmail))
{
    <span class="badge badge-success" data-toggle="tooltip" data-placement="right"
          title="" data-original-title="Your email is confirmed and can be used to login.">
        <i class="fas fa-check-circle mr-1"></i>
        Confirmed
    </span>
}
else
{
    <span class="badge badge-danger" data-toggle="tooltip" data-placement="right"
          title="" data-original-title="Your email is not confirmed and can not be used to login.">
        <i class="fas fa-times-circle mr-1"></i>
        Not Confirmed
    </span>
}
@if (!string.IsNullOrWhiteSpace(user.UnverifiedNewEmail))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong>Notice!</strong> Your email was changed to @user.UnverifiedNewEmail but it will not be valid until the new email is confirmed.
    </div>
}