@model Goliath.Models.ProfileSettingsGeneralModel

<p id="option-text">BACKGROUND COLOR</p>
<div class="ht-tm-element input-group mb-3">
    <div class="input-group-prepend ">
        <button class="btn btn-outline-primary" type="button">
            <i class="fas fa-tint"></i>
        </button>
    </div>
    <input asp-for="BackgroundColor" placeholder="Enter HEX Value" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    <button type="button" class="btn btn-outline-primary ml-2" data-toggle="tooltip" data-placement="right" title="Click to open a color selection menu.">Select</button>
</div>