@{
    var user = await _repository.GetUserFromContextAsync(User);
}
<p id="option-text">
    DELETE ACCOUNT
    <i class="fas fa-question-circle item-info hvr-grow"
       tabindex="0" role="button" data-toggle="popover"
       data-trigger="focus"
       title="Delete Account"
       data-content="Delete your account from Goliath databases. This cannot be undone.">
    </i>
</p>
<p class="text-muted font-italic">Remove your data from Goliath databases.</p>
<a asp-controller="@GoliathControllers.UserPanelController" asp-action="@nameof(UserPanelController.DeleteAccount)" class="btn btn-danger">
    <i class="fas fa-trash mr-2"></i>Delete Account
</a>