@model Goliath.Models.ProfileSettingsGeneralModel
@{
    var user = await _repository.GetUserByName(User.Identity.Name);
}
<p id="option-text">DOWNLOAD DATA</p>
<p class="text-muted font-italic">Goliath remains transparent about all user data it stores and collects.</p>
<button class="btn btn-danger mb-2">
    <i class="fas fa-database mr-2"></i>Download My Data</button>
<br />
<button  class="btn btn-danger mt-2">
    <i class="fas fa-database mr-2"></i>Download My Data Encrypted</button>
