@model Goliath.Models.ProfileSettingsGeneralModel
@{
    var user = await _repository.GetUserFromContextAsync(User);
}
<p id="option-text">
    DOWNLOAD DATA
    <i class="fas fa-question-circle item-info hvr-grow"
       tabindex="0" role="button" data-toggle="popover"
       data-trigger="focus"
       title="Download Data"
       data-content="Download all of the data Goliath stores on you. Your data can be downloaded in an encrypted format and a key will be emailed to you.">
    </i>
</p>
<p class="text-muted font-italic">Goliath remains transparent about all user data it stores and collects.</p>
<button type="button" class="btn btn-danger mb-2">
    <i class="fas fa-database mr-2"></i>Download My Data
</button>
<br />
<button type="button" class="btn btn-danger mt-2">
    <i class="fas fa-database mr-2"></i>Download My Data Encrypted
</button>