<p id="option-text">
    HELP & INFORMATION
    <i class="fas fa-question-circle item-info hvr-grow"
       tabindex="0" role="button" data-toggle="popover"
       data-trigger="focus"
       title="Help & Information"
       data-content="Information and helpful links from Goliath.">
    </i>
</p>
<p class="mt-1">
    <a href="#!">How often should I change my password?</a>
    <br />
    <a href="#!">Can I recover my account if I lose my 2FA device?</a>
    <br />
    <a href="#!">What can a verified phone number be used for?</a>
    <br />
    <a href="#!">What does the information from <q>Account Security</q> mean?</a>
    <br />
    <a href="#!">How do I ensure that my data is not stolen?</a>
    <br />
    <a href="#!">Can I delete my data whenever I want?</a>
    <br />
    <a href="#!">What is the memory footprint?</a>
    <br />
    <a href="#!">How does downloading encrypted data work?</a>
    <br />
    <a href="#!">What is UTC time and why is it used for Goliath?</a>
</p>

<a class="font-weight-bold" href="#!"><i class="far fa-question-circle mr-1"></i>Learn more about Goliath.</a>