@model Goliath.Models.ProfileSettingsModel
@{
    var user = await _repository.GetUserFromContextAsync(User);
}
<p id="option-text">
    CURRENT THEME
    <i class="fas fa-question-circle item-info hvr-grow"
       tabindex="0" role="button" data-toggle="popover"
       data-trigger="focus"
       title="Dark Theme" data-html="true"
       data-content="Change the theme of Goliath. This saves across web browsers. Note that dark theme is not compatible with changing the background colors and will override it.">
    </i>
</p>
<div class="ht-tm-element input-group mb-3">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary active pointer-cursor">
            <input id="theme-setting" type="radio" asp-for="DarkThemeEnabled" value="false" name="DarkThemeEnabled" autocomplete="off">
            <i class="far fa-lightbulb mr-2"></i>Light
        </label>
        <label class="btn btn-outline-primary pointer-cursor">
            <input id="theme-setting-2" type="radio" asp-for="DarkThemeEnabled" value="true" name="DarkThemeEnabled" autocomplete="off">
            <i class="far fa-moon mr-2"></i>Dark
        </label>
    </div>
</div>
@*Select a different radio button depending on the user setting.*@
@if (user.DarkTheme.Equals("true"))
{
    <script>
        $("#theme-setting").prop("checked", false);
        $("#theme-setting-2").prop("checked", true);
    </script>

}
else
{
    <script>
        $("#theme-setting").prop("checked", true);
        $("#theme-setting-2").prop("checked", false);
    </script>
}