@model Goliath.Models.ProfileSettingsGeneralModel

<p id="option-text">CURRENT THEME</p>
<div class="ht-tm-element input-group mb-3">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary active pointer-cursor">
            <input type="radio" asp-for="DarkThemeEnabled" value="false" name="DarkThemeEnabled" autocomplete="off" checked="">
            <i class="far fa-lightbulb mr-2"></i>Light
        </label>
        <label class="btn btn-outline-primary pointer-cursor">
            <input type="radio" asp-for="DarkThemeEnabled" value="true" name="DarkThemeEnabled" autocomplete="off">
            <i class="far fa-moon mr-2"></i>Dark
        </label>
    </div>
</div>