
@{ 
    string jsonStr = ViewBag.Message;
    string fontAwesomeStr = jsonStr.Replace("[", "").Replace("\"", "").Replace("]", "");
}

<!DOCTYPE html>
<!-- Main layout file for application -->
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="author" content="jluvisi" />
    <meta name="description" content="Goliath is an ASP.NET Core based password & secrets manager. Goliath allows users to setup personal accounts and provides a cloud based way of retrieving sensitive encrypted information." />

    <title>Goliath</title>

    <!-- jQuery & Bootstrap 4 -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="@fontAwesomeStr" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/811080332937920522/811322563270803537/bootstrap4-bubblegum.css">

    <!-------------------------->
    <!-- Custom Files -->
    <link href="~/css/global.css" rel="stylesheet" />
    <script src="~/js/global.js"></script>
    <!------------------>
</head>
<body>

    <div>
        <!-- Render the child HTML -->
        @RenderBody()
    </div>

    <footer class="footer fixed-bottom">
        <div class="container text-center">
            <p class="p-3">
                Goliath. Last Updated: @DateTime.Now
            </p>

        </div>
    </footer>
</body>

</html>
