<!-- Styles for all Emails -->
<style type="text/css">
    a.link-button {
        color: white;
        display: inline-block;
        padding: 0.7em 1.4em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.15em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Trebuchet MS';
        text-transform: uppercase;
        font-weight: 500;
        color: #FFF;
        background-color: #34b0e7;
        box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
        text-align: center;
        position: relative;
    }

        a.link-button:active {
            top: 0.1em;
        }

        a.link-button:hover {
            font-weight: bolder;
        }

        a.link-button:link {
            color: white;
        }

    @media all and (max-width: 30em) {
        a.link-button {
            display: block;
            margin: 0.4em auto;
        }
    }
</style>