/*Background Gradient + Centering*/
body {
    margin: 0;
    background-position: center center;
    background: #CE6CE9;
    background: -webkit-linear-gradient(bottom right, #CE6CE9, #F8AF5A);
    background: -moz-linear-gradient(bottom right, #CE6CE9, #F8AF5A);
    background: linear-gradient(to top left, #CE6CE9, #F8AF5A);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Round the corners of the right side of a container.*/
.round-right {
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}

/*  Require a small black padding around the carousel. This helps keep the look cleaner for
    views which are shorter.
*/
.carousel-inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*If the media is narrow then round all of the corners not just the right ones.*/
@media (max-width: 767px) {
    .round-right {
        border-bottom-left-radius: 15%;
        border-top-left-radius: 15%;
        border-bottom-right-radius: 15%;
        border-top-right-radius: 15%;
    }

    #inner {
        min-width: 80%;
    }
}

/** Allow mobile devices to round corners. */
@media only screen and (pointer:none), (pointer:coarse) and (max-device-width: 768px) and (orientation: portrait) {
    .round-right {
        border-bottom-left-radius: 15%;
        border-top-left-radius: 15%;
        border-bottom-right-radius: 15%;
        border-top-right-radius: 15%;
    }
}

/*Round the left side of containers.*/
.round-left {
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
}

/*Round all corners of a container.*/
.round {
    border-radius: 15%;
}

/*Make the colored textbox go below the drop down.*/
#color-textbox {
    z-index: 0;
}

/*Position drop down icons to appear straight and align them to the left.*/
.dropdown-bottom-icons {
    margin-left: -12px;
    padding-left: 0%;
}

/** If the phone is in landscape mode we must adjust and tell them not to use landscape on mobile.*/
@media only screen and (pointer:none), (pointer:coarse) and (max-device-width: 768px) and (orientation: landscape) {
    /*Hide all content*/
    #outer {
        visibility: hidden;
        overflow: hidden;
    }

    #inner {
        overflow: hidden;
    }
    /*Show the bad browser message*/
    #bad-browser {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}