<hr />
<div id="color-textbox" class="alert alert-danger" role="alert">
    An error occurred. Try again later.
</div>
<hr />
<a asp-action="@nameof(AuthController.Index)">Continue to Login.</a>
<a href="#!">Why is there an error?</a>