<div id="color-textbox" class="alert alert-success" role="alert">
    An email was sent to <strong>@Model.Email</strong>. Check your Junk/Spam folders if you cannot find it.
</div>
<hr />
<a asp-action="Index">Continue to Login.</a>