@model Goliath.Models.ForgotUsernameModel
@{

    ViewData["Title"] = "Forgot Username";

}

@section RightContainerHeader {
    <h3 class="display-4">Forgot Username</h3>
    <p class="text-muted mb-4">Enter your email below and click "Send".</p>
}

@if (Model != null)
{
    if (Model.IsEmailSent)
    {

        <partial name="_SuccessValidationPartial" model="Model" />
    }
    else
    {
        <partial name="_ErrorValidationPartial" model="Model" />
    }
}
else
{
    @*Accept data for ForgotPasswordModel*@
    <hr />
    <form asp-action="ForgotUsername" asp-antiforgery="true" id="test">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>Request to find a username.</p>
        <div class="ht-tm-element input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="button">
                    <i class="fas fa-envelope"></i>
                </button>
            </div>
            <input asp-for="Email" placeholder="Email Address" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
        </div>

        <div class="form-group">
            <hr />
            <partial name="~/Views/Captcha/_ValidateCaptchaEmbedded.cshtml" />
            <hr />
            <button type="submit" class="btn btn-block btn-secondary">
                <i class="fas fa-paper-plane mr-2"></i>
                Send Email
            </button>
        </div>
    </form>
    <partial name="_JQueryValidation" />
}