@model Goliath.Models.SignInModel
@{
    ViewData["Title"] = "Login";
}
<!-- Login Panel -->

@section RightContainerHeader {
    <h3 class="display-4">Login</h3>
    <p class="text-muted mb-4">Enter your Goliath credentials.</p>
}

@*If the user is redirected to the login page and
    we want to run some code.*@
@if (TempData["Redirect"] != null)
{
    if (TempData["Redirect"].Equals("register"))
    {
        @*User has been redirected; They have just made an account.*@
        <script>
            GlobalScript.displayModal('<strong><span style="color: green;">Success!</span></strong>', "Your account has been created.<br />Please check your email and verify your account! If you cannot find a verification email then <a href=\"/verify\" class=\"alert-link\">request a resend.</a>");
        </script>
    }
    else if (TempData["Redirect"].Equals("logout"))
    {
        @*User has been redirected; They just logged out.*@
        <script>
            GlobalScript.displayNotification("Success", "You have been logged out at " + @DateTime.Now, GlobalScript.BannerTypes()["alert-success"], "center-banner");
        </script>
    }
    else if (TempData["Redirect"].Equals("verified"))
    {
        @*User has been redirected; They just activated their account.*@
        <script>
            GlobalScript.displayNotification("Success", "Your account has been verified. You may now log in!", GlobalScript.BannerTypes()["alert-success"], "center-banner");
        </script>
    }
    else if (TempData["Redirect"].Equals("verified-failure"))
    {
        @*User has been redirected; They attempted to activate their account and failed.*@
        <script>
            GlobalScript.displayNotification("Error", "Your account could not be verified. Try again later.", GlobalScript.BannerTypes()["alert-danger"], "center-banner");
        </script>
    }

}

<form asp-action="Index">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-user-tag"></i>
            </button>
        </div>
        <input asp-for="Username" placeholder="Username" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-unlock"></i>
            </button>
        </div>
        <input asp-for="Password" placeholder="Password" required="" class="form-control shadow-sm px-2 rounded-right text-primary" />
    </div>

    <div class="custom-control custom-checkbox mb-3">
        <input asp-for="RememberMe" id="customCheck1" type="checkbox" checked class="custom-control-input">
        <label for="customCheck1" class="custom-control-label" data-toggle="tooltip" data-placement="right" title="Click for us to remember your account on this browser.">Remember Me</label>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
    @*OAuth Login Methods*@
    <div class="text-center">
        <div class="btn-group" data-toggle="tooltip" data-placement="right" title="Login using an external provider.">
            <a href="#!" class="ht-tm-element btn btn-outline-danger">
                <span class="fab fa-google"></span>
                Google
            </a>
            <a href="#!" class="ht-tm-element btn btn-outline-secondary">
                <span class="fab fa-microsoft"></span>
                Microsoft
            </a>
            <a href="#!" class="ht-tm-element btn btn-outline-primary">
                <span class="fab fa-facebook-square"></span>
                Facebook
            </a>
        </div>
    </div>
    <div class="text-center d-flex justify-content-between mt-4">
        <p>

            <a asp-controller="UserPanel" asp-action="Index" data-toggle="tooltip" data-placement="right" title="Continue without logging in. You will not be able to access some utilities.">
                <i class="fas fa-user-slash text-dark"></i>
                Continue without logging in.
            </a>
        </p>
    </div>
</form>