@{
    ViewData["Title"] = "Login";
}
<!-- Login Panel -->

@section RightContainerHeader {
    <h3 class="display-4">Login</h3>
    <p class="text-muted mb-4">Enter your Goliath credentials.</p>
}

@if(TempData["Redirect"] != null && TempData["Redirect"].Equals(true))
{
    <script>
        GlobalScript.displayModal("Success!", "Your account has been created.<br />-You can adjust more security and personal settings in your User Panel!");
    </script>
}

<form>
    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-envelope"></i>
            </button>
        </div>
        <input id="inputEmail" type="email" placeholder="Email address" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-unlock"></i>
            </button>
        </div>
        <input id="inputPassword" type="password" placeholder="Password" required="" class="form-control shadow-sm px-2 rounded-right text-primary" />
    </div>

    <div class="custom-control custom-checkbox mb-3">
        <input id="customCheck1" type="checkbox" checked class="custom-control-input">
        <label for="customCheck1" class="custom-control-label" data-toggle="tooltip" data-placement="right" title="Click for us to remember your account on this browser.">Remember Me</label>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
    <div class="text-center">
        <div class="btn-group" data-toggle="tooltip" data-placement="right" title="Login using an external provider.">
            <a href="#!" class="ht-tm-element btn btn-outline-danger">
                <span class="fab fa-google"></span>
                Google
            </a>
            <a href="#!" class="ht-tm-element btn btn-outline-secondary">
                <span class="fab fa-microsoft"></span>
                Microsoft
            </a>
            <a href="#!" class="ht-tm-element btn btn-outline-primary">
                <span class="fab fa-facebook-square"></span>
                Facebook
            </a>
        </div>
    </div>
    <div class="text-center d-flex justify-content-between mt-4">
        <p>

            <a href="" data-toggle="tooltip" data-placement="right" title="Continue without logging in. You will not be able to access some utilities.">
                <i class="fas fa-user-slash text-dark"></i>
                Continue without logging in.
            </a>
        </p>
    </div>
</form>