@model Goliath.Models.SignUpUserModel

@{
    ViewData["Title"] = "Register";
}

@section RightContainerHeader {
    <h3 class="display-4">Register</h3>
    <p class="text-muted mb-4">Make a new Goliath Account.</p>

}

<!-- Register Form -->
<form asp-action="Register">

    @if (!ViewData.ModelState.IsValid)
    {
        @*Display a validation model if the user inputs are incorrect.*@
        <script>
            GlobalScript.displayModal('Correct Errors', `Please correct the errors to make your account:<br />@Html.ValidationSummary(false, "", new { @class = "text-danger" })`);
        </script>
    }

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-user-tag"></i>
            </button>
        </div>
        <input asp-for="Username" placeholder="Username (6-18 Characters)" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-envelope"></i>
            </button>
        </div>
        <input asp-for="Email" placeholder="Email address" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-envelope"></i>
            </button>
        </div>
        <input asp-for="ConfirmEmail" placeholder="Confirm Email address" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-unlock"></i>
            </button>
        </div>
        <input asp-for="Password" placeholder="Password" required="" class="form-control shadow-sm px-2 rounded-right text-primary" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-unlock"></i>
            </button>
        </div>
        <input asp-for="ConfirmPassword" placeholder="Confirm Password" required="" class="form-control shadow-sm px-2 rounded-right text-primary" />
    </div>

    <hr />
    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Send Verification Email</button>
    <div class="text-center">
        <p><a asp-controller="Auth" asp-action="RegisterMethod">Go Back</a></p>
    </div>
</form>