@model Goliath.Models.SignUpUserModel

@{
    ViewData["Title"] = "Register";
}


@section AuthHeader {
    <h3 class="display-4">Register</h3>
    <p class="text-muted mb-4">Make a new Goliath Account.</p>
    
}
<form asp-action="Register">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-user-tag"></i>
            </button>
        </div>
        <input asp-for="Username" type="text" placeholder="Username (6-18 Characters)" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-envelope"></i>
            </button>
        </div>
        <input asp-for="Email" type="email" placeholder="Email address" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-envelope"></i>
            </button>
        </div>
        <input asp-for="ConfirmEmail" type="email" placeholder="Confirm Email address" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-unlock"></i>
            </button>
        </div>
        <input asp-for="Password" type="password" placeholder="Password" required="" class="form-control shadow-sm px-2 rounded-right text-primary" />
    </div>

    <div class="ht-tm-element input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-unlock"></i>
            </button>
        </div>
        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" required="" class="form-control shadow-sm px-2 rounded-right text-primary" />
    </div>

    <hr />
    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Send Verification Email</button>
    <div class="text-center">
        <p><a asp-controller="Home" asp-action="RegisterMethod">Go Back</a></p>
    </div>
</form>
<!--
    


-->


