@model Goliath.Models.ResetPasswordModel
@using Newtonsoft.Json;
@*
    The reset password class is used for the actual resetting of the password.
    The primary view to send the reset password email is ForgotPassword.cshtml.
*@

@{
    ViewData["Title"] = "Reset Password";
}

@if (Model?.IsCompleted == true)
{
    <div id="color-textbox" class="alert alert-success" role="alert">
        Your password has been reset.
    </div>
    <hr />
    <a asp-action="Index">Continue to Login.</a>
}
else
{
    <div class="modal fade" id="reset-password-modal" tabindex="-1" role="dialog" aria-labelledby="reset-password-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form asp-action="ResetPassword" asp-antiforgery="true">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reset-password-modal-long-title">Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        @*Put all of the errors from the model to the view.
                            because ViewData[model] does not pass ModelState.*@
                        @if (TempData["Errors"] != null)
                        {
                            @foreach (string error in ((string[])TempData["Errors"]))
                            {
                                <div class="text-danger">
                                    • @error
                                </div>
                            }
                            <hr />
                        }

                        <p>Make your new password secure.</p>

                        <input type="hidden" asp-for="UserId" class="form-control" />
                        <input type="hidden" asp-for="Token" class="form-control" />

                        <div class="ht-tm-element input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary" type="button">
                                    <i class="fas fa-lock fa-fw"></i>
                                </button>
                            </div>

                            <input asp-for="NewPassword" placeholder="New Password" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
                        </div>
                        <div class="ht-tm-element input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary" type="button">
                                    <i class="fas fa-lock fa-fw"></i>
                                </button>
                            </div>

                            <input asp-for="ConfirmNewPassword" placeholder="Confirm Password" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fas fa-save mr-2"></i>
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
            $('#reset-password-modal').modal('show');
    </script>

}