@model Goliath.Models.EmailConfirmModel
@{

    ViewData["Title"] = "Verify";

}

@section RightContainerHeader {
    <h3 class="display-4">Verify Email</h3>
    <p class="text-muted mb-4">Enter your email below and click "Resend Email".</p>
}

<!-- Verify Email Panel -->
@*
    If the page is registered and the back-end does not have a correct model then load the
        input fields.
*@
@if (Model != null)
{
    if (Model.IsConfirmed)
    {
        <div id="color-textbox" class="alert alert-danger" role="alert">
            <strong>@Model.Email</strong> is already a verified account.
        </div>
        <hr />
        <a asp-action="Index">Continue to Login.</a>
    }
    if (Model.IsEmailSent)
    {

        <partial name="_SuccessValidationPartial" model="Model" />
    }
}
else
{
    @*Accept data for EmailConfirmModel*@
    <hr />
    <form asp-action="VerifyEmail" asp-antiforgery="true">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>Request to Resend Email Verification</p>
        <div class="ht-tm-element input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="button">
                    <i class="fas fa-envelope"></i>
                </button>
            </div>
            <input asp-for="Email" placeholder="Email address" required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
        </div>
        <div class="form-group">
            <hr />
            <partial name="~/Views/Captcha/_ValidateCaptchaEmbedded.cshtml" />
            <hr />
            <button type="submit" class="btn btn-block btn-secondary">
                <i class="fas fa-paper-plane mr-2"></i>
                Resend Email
            </button>
        </div>
    </form>
    <partial name="_JQueryValidation" />
}