@{
    Layout = null;
}
@*
    Handle if the user does not have javascript enabled.
*@
<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>No JavaScript</title>
    <meta name="author" content="jluvisi">
    <meta name="description" content="Official Goliath Password Manager.">
    <meta name="keywords" content="keywords,here">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/theme/bootstrap4-bubblegum.min.css" />
    <link rel="stylesheet" href="~/css/Errors/NoJSStyle.css" />

    <script>
            window.location.replace("@Url.Action("Index", "Auth")");
    </script>
</head>

<body class="bg-dark">

    <main id="wrapper">
        <section class="text-center">
            <div class="card">
                <h5 class="card-header">
                    <span class="text-danger"><strong><i class="fas fa-exclamation-circle"></i> Error:</strong> JavaScript required.</span>
                </h5>
                <div class="card-body">
                    <p class="card-text lead">
                        <strong class="h2">Oops!</strong>
                        <br />
                        It seems you have JavaScript disabled on your browser.
                        Goliath <u class="font-weight-bold">requires</u> JavaScript to function properly.
                    </p>
                    <hr />
                    <div id="buttons">
                        <a href="https://www.enable-javascript.com/" target="_blank" class="btn btn-primary">
                            <i class="fab fa-js-square fa-lg"></i>
                            Enable JavaScript
                        </a>
                        <br id="spacer" />
                        <a href="#info" class="btn btn-primary">
                            <i class="fas fa-question-circle fa-lg"></i>
                            Learn More
                        </a>
                        <br id="spacer" />
                        <a href="https://github.com/jluvisi2021/Goliath" target="_blank" class="btn btn-primary">
                            <i class="fab fa-github fa-lg"></i>
                            View GitHub
                        </a>
                        <br id="spacer" />
                    </div>
                </div>
            </div>
        </section>
    </main>
    @*Pop-up without JavaScript*@
    <div id="info" class="overlay">
        <div class="popup">

            <h2 class="text-center">Goliath & JavaScript <i class="fab fa-js-square fa-lg text-warning bg-dark"></i></h2>
            <a class="close" href="#">×</a>
            <div class="content">
                <hr />
                <p>
                    <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    is a programming language which
                    allows for the creation of interactive web pages.
                    <br />
                    Goliath uses JavaScript to prompt
                    <a href="https://www.cloudflare.com/learning/bots/how-captchas-work/" , target="_blank">
                        CAPTCHAs,
                    </a>
                    dynamically update the view, as well as handle
                    updates and notifications.
                    <br />
                    If JavaScript is not enabled then Goliath cannot perform critical functionality.
                    <br />
                    JavaScript can be used for running <a href="https://snyk.io/learn/javascript-security/" , target="_blank">nefarious code</a> but all of Goliath is <b><a href="https://github.com/jluvisi2021/Goliath" , target="_blank">open-source</a></b> so you do
                    not have to worry about anything malicious being ran in the background.
                    <br />
                    Goliath also uses multiple security protocols to ensure data is protected. <a href="#!" , target="_blank">Learn how Goliath protects data.</a>
                    <hr />
                    <a href="https://www.enable-javascript.com/" target="_blank" class="btn btn-warning">
                        <i class="fab fa-js-square fa-lg"></i>
                        Enable JavaScript
                    </a>
                    <a id="close-btn" href="#!" class="btn btn-outline-danger">
                        <i class="fas fa-times-circle mr-1"></i>Close
                    </a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>