@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>No JavaScript</title>
    <meta name="author" content="jluvisi">
    <meta name="description" content="Official Golaith Password Manager.">
    <meta name="keywords" content="keywords,here">

    <script>
            window.location.replace("@Url.Action("Index", "Auth")");
        
    </script>

    <style type="text/css">
        body {
            font-size: 2.25rem;
            font-family: 'Trebuchet MS';
        }

        #wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        #center {
            text-align: center;
        }

        #error {
            color: red;
        }

        #items {
            font-size: 1.9rem;
        }

        li {
            padding-top: 0.5%;
            padding-bottom: 0.5%;
        }
    </style>
</head>

<body>

    <main id="wrapper">
        <section id="center">
            <h1><span id="error">Error</span></h1>
            <hr />
            <p>You must enable JavaScript to access Golaith.</p>
            <a href="https://www.tutorialspoint.com/javascript/javascript_enabling.htm" target="_blank">Learn How</a>
        </section>
        <hr />
        <section>
            <h5>Recommended Settings</h5>
            <ul id="items">

                <li class="collapseAfter">Browsers: <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>, <a href="https://www.apple.com/mac/" target="_blank">Safari</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>, <a href="https://www.microsoft.com/en-us/edge" target="_blank">Microsoft Edge</a></li>
                <li>JavaScript Enabled</li>
                <li>16:9/16:10/3:2 Screen</li>
                <li>1080p Resolution or Greater</li>
                <li><a href="https://github.com/jluvisi2021/Goliath" target="_blank">View Source Code</a></li>
            </ul>
        </section>
    </main>
</body>
</html>