@using Goliath.Models
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject Goliath.Repository.IAccountRepository _repository
@model Goliath.Models.VerifyPhoneNumberModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/Layouts/_UserPanel.cshtml";
    var user = await _repository.GetUserFromContextAsync(User);
    //var userCanResend = await _requestTable.IsUserResendValidAsync(user.Id);
}
@*

    A view which handles the confirmation of phone numbers in
    the UserPanel.

*@
<!--Profile Scripts-->
<script src="~/js/UserPanel/Profile/ProfileScript.js" asp-append-version="true"></script>
<!------------------->

    @*Custom Style*@
    <style type="text/css">
        @@media all and (max-device-width: 768px) {
            #verify-phone-container {
                width: 100% !important;
                padding-right: 5%;
                padding-left: 5%;
            }
        }
    </style>

    <div id="outer">
        <div id="inner">
            @if (string.IsNullOrWhiteSpace(user.UnverifiedNewPhone) && Model == null)
            {
                <div class="alert alert-danger pt-4" role="alert">
                    <p class="h4"><i class="fas fa-times-circle mr-2"></i>Your phone number is already confirmed.</p>
                </div>
            }
            else
            {
                @if (Model?.IsCompleted == true)
                {

                    <div class="alert alert-success pt-4" role="alert">
                        <p class="h4"><strong>Success!</strong> Your phone number has been confirmed.</p>
                    </div>
                }
                else
                {
                    <article id="verify-phone-container" class="container pb-5 mb-5 w-50">
                        <form id="verify-phone-form" asp-action="ConfirmPhoneNumber" asp-antiforgery="true">
                            <div class="text-left" id="captcha-view"></div>
                            <p class="h3 font-weight-lighter">Verify Phone Number</p>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <hr />
                                <div class="text-danger text-left" asp-validation-summary="All"></div>

                            }
                            <hr />
                            <div class="row align-self-center">
                                <p class="text-muted">Enter the token sent to (+1) @(user.UnverifiedNewPhone[0..3])-@(user.UnverifiedNewPhone[3..6])-@(user.UnverifiedNewPhone[6..])</p>
                                <div class="ht-tm-element input-group mb-3">
                                    <div class="input-group-prepend ">
                                        <button class="btn btn-danger" type="button">
                                            <i class="fas fa-key fa-fw"></i>
                                        </button>
                                    </div>

                                    <input asp-for="Token" value="" placeholder="Enter Token." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
                                </div>

                                <div class="ht-tm-element input-group mb-3">
                                    <div class="input-group-prepend ">
                                        <button class="btn btn-danger" type="button">
                                            <i class="fas fa-lock fa-fw"></i>
                                        </button>
                                    </div>

                                    <input type="password" asp-for="Password" value="" placeholder="Enter Password." required="" autofocus="" class="form-control shadow-sm px-2 rounded-right" />
                                </div>
                            </div>
                            <button id="submit-verify-phone-form" class="btn btn-primary align-self-center" type="button">
                                <i class="fas fa-upload mr-2"></i>Submit
                            </button>
                            <partial name="~/Views/UserPanel/Partial/_ResendPhoneVerifyButton.cshtml" />
                        </form>
                    </article>

                }

            }
        </div>
    </div>