@{
    ViewData["Title"] = "Profile";
    Layout = "_LoginRequired";
}

<!--Profile Scripts-->
<script src="~/js/UserPanel/Profile/ProfileNavManager.js"></script>
<!------------------->
<div class="container pt-5 pb-5">
    <div class="row pt-5 pb-5">
        <div id="profile-nav" class="col-3">
            <h1>Profile</h1>
            <div class="list-group">
                <div id="profile-nav-general" class="list-group-item active">General</div>
                <div id="profile-nav-colors" class="list-group-item list-group-item-action">Colors</div>
                <div id="profile-nav-security" class="list-group-item list-group-item-action">Security</div>
                <div id="profile-nav-manage-data" class="list-group-item list-group-item-action">Manage Data</div>
                <div id="profile-nav-other" class="list-group-item list-group-item-action">Other</div>
            </div>
        </div>
        <div class="col-3">
            <div id="primary-container" class="container rounded">
                <div id="view">
                    <partial name="~/Views/UserPanel/Profile/_General.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>