@{
    ViewData["Title"] = "Home";
}
@section UniqueHeader {
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/HomeStyle.css" asp-append-version="true" />
}
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="#!"> <i class="fas fa-shield-alt"></i> Goliath </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a id="home-nav" class="nav-item nav-link" href="#"> <i class="fas fa-home mr-2"></i>Home</a>
                <a id="features-nav" class="nav-item nav-link" href="#"> <i class="fas fa-star mr-2"></i>Features </a>
                <a id="privacy-nav" class="nav-item nav-link" href="#"> <i class="fas fa-cookie mr-2"></i>Privacy & Security </a>
                <a id="contact-nav" class="nav-item nav-link" href="#"> <i class="fas fa-envelope mr-2"></i>Contact </a>
            </div>
        </div>
    </nav>
</header>
<main class="container-fluid">
    <section id="vanta-js"></section>
    <section class="row text-white mt-3">
        <div class="col-12">
            <article class="row d-flex justify-content-center">
                <span id="g-title" class="display-3 font-weight-bold">
                    <i class="fas fa-shield-alt mr-2"></i>
                    <span data-aos="fade-left" data-aos-offset="500"
     data-aos-duration="500" class="hvr-pop pointer-default">Goliath</span> <i class="fas fa-shield-alt ml-2"></i>
                </span>
            </article>
            <article class="row d-flex justify-content-center">
                <span id="g-title-description" class="h2 font-weight-normal">
                    <i>
                        A simple and secure password manager for the Web.
                    </i>
                </span>
            </article>
        </div>
    </section>
    <section class="row">
        <img data-aos="fade-up" src="~/images/iphone-mockup.png" class="img-fluid w-25 h-25 hvr-rotate" />
        <article data-aos="zoom-out-up" class="col-6">
            <hr class="text-white bg-white" style="opacity: 0.5;" />
            <div class="align-content-lg-end">
                <div class="card text-center" style="opacity: 0.85;">
                    <div class="card-body">
                        <h4 class="card-title">Start using Goliath Now:</h4>
                        <p class="card-text">
                            <i>
                                Goliath requires an account to store personal information.
                            </i>
                        </p>
                        <hr />
                        <a asp-controller="Auth" asp-action="RegisterMethod" class="btn btn-primary w-50 hvr-grow mb-3"> <span class="fas fa-external-link-alt mr-2"></span>Register New Account </a>
                        <a asp-controller="Auth" asp-action="Login" class="btn btn-primary w-50 hvr-grow mb-3"> <span class="fas fa-sign-in-alt mr-2"></span>Sign In with Existing Account </a>
                        <br />
                        <a href="#!" class="hvr-push"> <i class="fas fa-question-circle"></i> Need help logging in? </a>
                    </div>
                </div>
                <hr class="text-white bg-white" style="opacity: 0.5;" />
                <br />
                <div class="text-center pt-5">
                    <h3 class="text-white">Scroll Down To Learn More About Goliath</h3>
                    <i id="scroll-btn" class="fas fa-arrow-circle-down fa-4x text-white pointer-cursor hvr-grow pt-3"></i>
                </div>
            </div>
        </article>
        <div class="col-3" data-aos="fade-up">
            <div class="card bg-primary text-white mb-3 text-center w-75 hvr-hang">
                <div class="card-body">
                    <h4>
                        <span>New Updates</span>
                        <i class="fas fa-wrench"></i>
                    </h4>
                    <hr />
                    <blockquote class="card-blockquote">
                        <p>
                            <strong>
                                Version: X.X.X.X
                            </strong>
                            <div class="text-left">
                                <span class="hvr-grow pointer-cursor">
                                    <i class="fas fa-plus-square text-success"></i>
                                    Added something.
                                </span>
                                <br /> <span class="hvr-grow pointer-cursor">
                                    <i class="fas fa-plus-square text-success"></i>
                                    Added something else.
                                </span>
                                <br /> <span class="hvr-grow pointer-cursor">
                                    <i class="fas fa-minus-square text-danger"></i>
                                    Removed something.
                                </span>
                            </div>
                            <br /> <i class="far fa-clock mr-2"></i><i>2 days ago.</i>
                        </p>
                        <hr />
                        <footer> Follow new updates <a class="text-white font-italic" href="#!" title="Source Title">at the official GitHub.</a> </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <div class="pt-2 pb-2"></div>
    <section data-aos="zoom-out-down" data-aos-duration="700" class="row justify-content-center">
        <article class="col-10 w-100">
            <div class="row justify-content-center align-content-center">
                <div class="jumbotron">
                    <h1 class="display-3">Hello, world!</h1>
                    <p class="lead"> This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information. </p>
                    <hr class="my-4">
                    <p> It uses utility classes for typography and spacing to space content out within the larger container. </p>
                    <p class="lead"> <a class="btn btn-primary" href="#!" role="button">Learn more</a> </p>
                </div>
            </div>
        </article>
    </section>
    <div class="pt-2 pb-2"></div>
    <section data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000" class="row">
        <article class="col-12">
            <div class="card border-dark mb-3 text-center">
                <div class="card-body">
                    <p> Blah. </p>
                    <p> Blah. </p>
                    <p> Blah. </p>
                    <p> Blah. </p>
                    <p> Blah. </p>
                    <p> Blah. </p>
                </div>
            </div>
        </article>
    </section>
    <section data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000" class="row">
        <article class="col-12">
            <div class="card border-dark mb-3 text-center">
                <div class="card-body">
                    <p> Maintained Actively </p>
                    <p> Maintained Actively </p>
                    <p> Maintained Actively </p>
                    <p> Maintained Actively </p>
                    <p> Maintained Actively </p>
                    <p> Maintained Actively </p>
                </div>
            </div>
        </article>
    </section>
    <div class="pt-2 pb-2"></div>
    <section id="features" class="row align-content-center">
        <article class="col-12 pr-5 pl-5">
            <div id="features-card" class="card text-white mb-3 text-center">
                <div class="card-body">
                    <p class="lead">
                        <i data-aos="zoom-out-down" class="fas fa-star"></i>
                        <span data-aos="zoom-out-up" class="font-weight-bold text-white">
                            Our Features
                        </span>
                        <i data-aos="zoom-out-down" class="fas fa-star"></i>
                    </p>
                    <hr />
                    <div class="row">
                        <div data-aos="zoom-out-right" data-aos-easing="ease-in-sine" data-aos-duration="650" class="col-sm-4">
                            <div class="card">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary hvr-grow">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div data-aos="zoom-out" data-aos-easing="ease-in-sine" data-aos-duration="650" class="col-sm-4">
                            <div class="card">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary hvr-grow">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div data-aos="zoom-out-left" data-aos-easing="ease-in-sine" data-aos-duration="650" class="col-sm-4">
                            <div class="card">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary hvr-grow">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div data-aos="zoom-out-right" data-aos-easing="ease-in-sine" data-aos-duration="650" class="col-sm-4">
                            <div class="card">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary hvr-grow">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div data-aos="zoom-out" data-aos-easing="ease-in-sine" data-aos-duration="650" class="col-sm-4">
                            <div class="card">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary hvr-grow">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div data-aos="zoom-out-left" data-aos-easing="ease-in-sine" data-aos-duration="650" class="col-sm-4">
                            <div class="card">
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary hvr-grow">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <div class="pt-2 pb-2"></div>
    <section data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000" class="row">
        <article class="col-12">
            <div class="card border-dark mb-3 text-center">
                <div class="card-body">
                    <p> Security is Important. </p>
                    <p> Security is Important. </p>
                    <p> Security is Important. </p>
                    <p> Security is Important. </p>
                    <p> Security is Important. </p>
                    <p> Security is Important. </p>
                </div>
            </div>
        </article>
    </section>
    <div class="pt-2 pb-2"></div>
    <section id="privacy" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="600" class="row justify-content-center">
        <article class="col-8">
            <div class="card text-center">
                <div class="card-header lead font-weight-normal"> Transparency, Security, & Cookies </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="nav flex-column nav-pills text-left h5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link hvr-bounce-to-right active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"> <i class="fas fa-file-code mr-1"></i> Open Source </a>
                                <a class="nav-link hvr-bounce-to-right" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"> <i class="fas fa-lock mr-1"></i> Cryptography </a>
                                <a class="nav-link hvr-bounce-to-right" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"> <i class="fas fa-user-circle mr-1"></i> Account Security </a>
                                <a class="nav-link hvr-bounce-to-right" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"> <i class="fas fa-server mr-1"></i> Database Security </a>
                                <a class="nav-link hvr-bounce-to-right" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"> <i class="fas fa-robot mr-1"></i> Bot Security </a>
                                <a class="nav-link hvr-bounce-to-right" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"> <i class="fas fa-cookie mr-1"></i> Cookie Security </a>
                                <a class="nav-link hvr-bounce-to-right" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"> <i class="fas fa-user-secret"></i> Extra Security </a>
                            </div>
                        </div>
                        <div class="col-7 border-left text-left">
                            <div class="tab-content text-dark" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Example 1</div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Example 2</div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Example 3</div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Example 4</div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p class="card-text"></p>
                    <a href="#!" class="btn btn-primary hvr-bounce-in"> <i class="fas fa-question-circle mr-1"></i> Learn More </a>
                </div>
            </div>
        </article>
    </section>
    <div class="pt-4 pb-4"></div>
    <section class="row">
        <article class="col-12">
            <div id="faq-card" class="card text-white mb-3 text-center">
                <div class="card-body">
                    <div class="card-title lead font-weight-bold">
                        <span data-aos="zoom-in">Frequently Asked Questions and Answers</span>
                    </div>
                    <hr />
                    <div class="card-text">
                        <div class="row">
                            <div class="col-4">
                                <div data-aos="fade-up"  data-aos-duration="500" class="alert alert-light" role="alert">
                                    <p class="h4 alert-heading">
                                        If I forget my password can I still access my data?
                                    </p>
                                    <hr />
                                    <a href="#!" class="btn btn-secondary hvr-bob">
                                        <i class="fas fa-eye mr-1"></i>
                                        View Answer
                                    </a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div data-aos="fade-up"  data-aos-duration="650" class="alert alert-light" role="alert">
                                    <p class="h4 alert-heading">
                                        If I forget my password can I still access my data?
                                    </p>
                                    <hr />
                                    <a href="#!" class="btn btn-secondary hvr-bob">
                                        <i class="fas fa-eye mr-1"></i>
                                        View Answer
                                    </a>
                                </div>
                            </div>
                            <div data-aos="fade-up"  data-aos-duration="800" class="col-4">
                                <div class="alert alert-light" role="alert">
                                    <p class="h4 alert-heading">
                                        If I forget my password can I still access my data?
                                    </p>
                                    <hr />
                                    <a href="#!" class="btn btn-secondary hvr-bob">
                                        <i class="fas fa-eye mr-1"></i>
                                        View Answer
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div data-aos="fade-up"  data-aos-duration="950" class="col-4">
                                <div class="alert alert-light" role="alert">
                                    <p class="h4 alert-heading">
                                        If I forget my password can I still access my data?
                                    </p>
                                    <hr />
                                    <a href="#!" class="btn btn-secondary hvr-bob">
                                        <i class="fas fa-eye mr-1"></i>
                                        View Answer
                                    </a>
                                </div>
                            </div>
                            <div data-aos="fade-up"  data-aos-duration="1100" class="col-4">
                                <div class="alert alert-light" role="alert">
                                    <p class="h4 alert-heading">
                                        If I forget my password can I still access my data?
                                    </p>
                                    <hr />
                                    <a href="#!" class="btn btn-secondary hvr-bob">
                                        <i class="fas fa-eye mr-1"></i>
                                        View Answer
                                    </a>
                                </div>
                            </div>
                            <div data-aos="fade-up" data-aos-duration="1250" class="col-4">
                                <div class="alert alert-light" role="alert">
                                    <p class="h4 alert-heading">
                                        If I forget my password can I still access my data?
                                    </p>
                                    <hr />
                                    <a href="#!" class="btn btn-secondary hvr-bob">
                                        <i class="fas fa-eye mr-1"></i>
                                        View Answer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <div class="pt-4 pb-4"></div>
    <section id="contact" class="row bg-dark text-center align-content-center pt-3 pb-3">
        <article class="col-12">
            <p class="footer-text font-weight-bold">
                Thank you for looking into Goliath!
                <i class="fas fa-thumbs-up ml-1 fa-lg hvr-float"></i>
            </p>
            <hr />
            <p class="footer-text">
                <strong>Disclaimer</strong>
                <br />
                Goliath is an open-source application available for public use under <a href="#!">GNU General Public License v3</a> and is publicly available at <a href="#!">GitHub</a>.
                <br />
                Goliath is not a professionally made application nor a business and is made by myself, a student, as a research project.
                <br />
                The owner of this website is not responsible for any potential damage, lost information, corrupted data, or account loss.
                <br />
                By using Goliath you agree to <a href="#!">The Terms and Conditions.</a>
            </p>
            <hr />
            <p class="footer-text">
                <strong>Contact Author</strong>
                <br />
                Jacob LuVisi is the author of this website and application.
                <br />
                If you wish to send a inquiry then please email <a href="#!">jluvisi2021@gmail.com</a> for personal details.
                <br />
                I can also be reached by my discord tag: <strong>Interryne#0943</strong>.
            </p>
            <hr />
            <a href="#!" class="btn btn-outline-light mr-1 hvr-grow-rotate">
                <span class="fab fa-github mr-1"></span>
                GitHub
            </a>
            <a href="#!" class="btn btn-outline-light ml-1 hvr-grow-rotate">
                <span class="fab fa-twitter mr-1"></span>
                Twitter
            </a>
        </article>
    </section>
</main>
@*JS Libraries for Animation*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js" integrity="sha384-DXar47anhP2p0NKLdo4cUCrnUtBBp/r91y336ez5hAeL8XPMqKND66/jv8ocrYAL" crossorigin="anonymous" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js" integrity="sha384-ZuLXWi/WPLzPBL+O2ZoupHqOh0Iej7XjJzSp/e4jE90Epz3YxFa0Ra3ESxVk4ObH" crossorigin="anonymous" asp-append-version="true"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js" integrity="sha384-ZGo5k5ISlEzWLoXyt+lnvKt9j03Z7GkxXh14zLqVy098XJhcdKHjL8pQYVMI8WiH" crossorigin="anonymous" asp-append-version="true"></script>
<script src="~/js/Home/HomeScript.js" asp-append-version="true"></script>
<script>AOS.init();</script>