@{
    <!-- Because the login screen is seperate we don't need the navbar and other stuff. -->
    Layout = null;
}



<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="author" content="jluvisi" />
    <meta name="description" content="Goliath is an ASP.NET Core based password & secrets manager. Goliath allows users to setup personal accounts and provides a cloud based way of retrieving sensitive encrypted information." />

    <title>Goliath - Login</title>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <!--<link href="~/lib/twitter-bootstrap/css/theme/light-theme.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" integrity="sha384-d65WOfQDK/7uokAHqM1cyo/lbsFj7CpvOLrxE0PITb1SReU9v4Ouh5+3m/kaIOgJ" crossorigin="anonymous">
    <!-- Custom Site Scripts -->
    <link href="~/css/login-style.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>

</head>
<body>




    

    <div class="container">
        <div class="row">
            <div class="col text-center justify-content-center">
                <h1 class="h1">Login Form</h1>
                <a type="button" class="btn btn-primary btn-lg" href="/UserPanel/">Go to UserPanel</a>
            </div>
        </div>
    </div>
    





</body>
</html>

<!-- Scripts to be run on Index page only -->
<script>
    testjQuery();
</script>