@{
    <!-- Because the login screen is seperate we don't need the navbar and other stuff. -->
    Layout = "_Layout";
}

<head>
    <!-- Login Site Style -->
    <link href="~/css/login-style.css" rel="stylesheet" />

</head>
<body>

    <div class="container vertical-center">

            <div class="col text-center justify-content-center">
                <h1 class="h1">Login Form</h1>
                <a type="button" class="btn btn-primary btn-lg" href="/UserPanel/">Go to UserPanel</a>
            </div>

    </div>
    

</body>


<!-- Scripts to be run on Index page only -->
<script>
    testjQuery();
</script>