@{
    var user = await _repository.GetUserFromContextAsync(User);
}

<h3>All Available Settings</h3>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger pb-0 pt-3" role="alert">
        <p>We encountered errors trying to update your profile</p>
        <div class="text-danger font-weight-bold text-left" asp-validation-summary="All"> </div>
    </div>
}

<hr />
@if (TempData[TempDataKeys.HtmlMessage] != null)
{
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        @TempData[TempDataKeys.HtmlMessage]
    </div>
}

<form id="settings" asp-action="@nameof(UserPanelController.Profile)" asp-antiforgery="true" novalidate>

    <div id="confirm-modal"></div>
    <div class="container">

        <div class="text-left">

            <partial name="~/Views/UserPanel/Profile/Settings/_GeneralInformation.cshtml" />
            <hr />

            <div class="row col-8 expand">
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangeBackgroundColor.cshtml" />
            </div>

            <hr />

            <partial name="~/Views/UserPanel/Profile/Settings/_ToggleDarkTheme.cshtml" />

            <hr />
            <div class="row col-8 expand">
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangeEmail.cshtml" />
            </div>
            <hr />
            <div class="row col-12 p-0 expand">
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangePassword.cshtml" />
            </div>

            <hr />
            <div class="row col-12 p-0 expand">
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangePhoneNumber.cshtml" />
            </div>
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_TwoFactor.cshtml" />
            <hr />
            <div class="row col-8 expand">
                <partial name="~/Views/UserPanel/Profile/Settings/_LogoutThreshold.cshtml" />
            </div>
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_LoggedInTrace.cshtml" />
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_DownloadMyData.cshtml" />
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_MemoryFootprint.cshtml" />
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_DeleteUserAccount.cshtml" />
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_GetHelp.cshtml" />
        </div>
    </div>
    <hr />
    <!-- Submit/Reject Button -->
    @if (await _timeouts.CanRequestProfileSettingsUpdateAsync(user.Id))
    {
        <button id="submit-settings" type="button" class="btn btn-secondary mt-1">
            <i class="fas fa-cloud-upload-alt mr-2"></i>
            Save Changes
        </button>
    }
    else
    {
        <button id="submit-settings-timeout" type="button" class="btn btn-secondary mt-1">
            <i class="fas fa-cloud-upload-alt mr-2"></i>
            Save Changes
        </button>
    }

</form>