
<h3>All Available Settings</h3>
<hr />
<form asp-action="Profile" asp-antiforgery="true">
    <div class="container">
        <div class="row">
            <div class="text-left">
                <!-- Background Color Option -->
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangeBackgroundColor.cshtml" />
                <!-- Background Color Option End -->
                <hr />
                <!-- Enable Dark Theme Option -->
                <partial name="~/Views/UserPanel/Profile/Settings/_ToggleDarkTheme.cshtml" />
                <!-- Enable Dark Theme Option End-->
                <hr />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-secondary">
        <i class="fas fas fa-tools mr-2"></i>
        Submit
    </button>
</form>