@using Goliath.Helper
@{
    // Check if settings have been changed.
}

<h3>All Available Settings</h3>
<div class="text-danger text-left" asp-validation-summary="All">

</div>

<hr />

<form id="settings" asp-action="Profile" asp-antiforgery="true" novalidate>
    <div id="confirm-modal"></div>
    <div class="container">
        <div class="text-left">

            <!-- Background Color Option -->
            <div class="row col-8">
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangeBackgroundColor.cshtml" />
            </div>

            <!-- Background Color Option End -->
            <hr />
            <!-- Enable Dark Theme Option -->
            <partial name="~/Views/UserPanel/Profile/Settings/_ToggleDarkTheme.cshtml" />
            <!-- Enable Dark Theme Option End-->
            <hr />
            <div class="row col-8">
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangeEmail.cshtml" />
            </div>
            <hr />
            <div class="row col-12 p-0">
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangePassword.cshtml" />
            </div>

            <hr />
            <div class="row col-8">
                <partial name="~/Views/UserPanel/Profile/Settings/_ChangePhoneNumber.cshtml" />
            </div>
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_TwoFactor.cshtml" />
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_LoggedInTrace.cshtml" />
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_DownloadMyData.cshtml" />
            <hr />
            <partial name="~/Views/UserPanel/Profile/Settings/_MemoryFootprint.cshtml" />
        </div>
    </div>

    <button id="submit-settings" type="button" class="btn btn-secondary mt-4">
        <i class="fas fa-cloud-upload-alt mr-2"></i>
        Save Changes
    </button>
</form>