<div class="container align-self-center mt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><i class="fas fa-times-circle fa-fw mr-1"></i>You cannot do this.</h4>
                You cannot enable two-factor authentication without verifying your current email address and phone number.
                <br />
                <a asp-controller="@GoliathControllers.UserPanelController" asp-action="@nameof(UserPanelController.Profile)" class="alert-link">Verify your email and/or phone.</a>
            </div>
        </div>
    </div>
</div>