/*Adjust width of elements to require scrolling if the device is small.*/
@media all and (max-device-width: 1024px) {
    #profile-nav {
        min-width: 40%;
        max-width: 60%;
    }

    #primary-container {
        width: 100vw;
        height: unset;
        background-color: white;
    }

    #top-nav {
        width: 150vw;
    }
}

/*Make the default cursor be everywhere except specific elements.*/
*:not(input):not(.list-group-item):not(label):not(a):not(i) {
    cursor: default;
}

.item-info:hover {
    color: #005eff;
    cursor: pointer;
}

#account-security {
    display: none;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }