/*Adjust width of elements to require scrolling if the device is small.*/
@media all and (max-device-width: 1024px) {
    #profile-nav {
        min-width: 40%;
        max-width: 60%;
    }

    #primary-container {
        width: 100vw;
        height: unset;
        background-color: white;
    }

    #top-nav {
        width: 150vw;
    }
}
@media all and (max-width: 1200px) {
    .expand {
        min-width: 100% !important;
    }
}
/*Make the default cursor be everywhere except specific elements.*/
*:not(input):not(.list-group-item):not(label):not(a):not(i) {
    cursor: default;
}

.item-info:hover {
    color: #005eff;
    cursor: pointer;
}

#account-security {
    display: none;
}